.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5ch;
  color: #333;
}

p {
  font-size: 2ch;
  color: #666;
}
